* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --roxo: #9d00ff;
    --roxo-escuro: #6100a8;
    --fundo: #050008;
    --card: #100817;
    --texto: #ffffff;
    --cinza: #aaaaaa;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fundo);
    color: var(--texto);
}

button,
input,
select {
    font-family: inherit;
}


/* ================= TELAS ================= */

.tela {
    display: none;
    min-height: 100vh;
}

.tela.ativa {
    display: block;
}


/* ================= INÍCIO ================= */

#inicio {
    background:
        linear-gradient(
            rgba(5, 0, 8, .55),
            rgba(5, 0, 8, .96)
        ),
        url("recrutamento.png");

    background-size: cover;
    background-position: center;

    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#inicio.ativa {
    display: flex;
}

.inicio-conteudo {
    padding: 30px;
    max-width: 800px;
}

.logo {
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 4px;
}

.logo span {
    color: var(--roxo);
}

.subtitulo {
    color: #c995ff;
    letter-spacing: 4px;
    font-size: 12px;
    margin-top: 12px;
}

h1 {
    margin-top: 45px;
    font-size: clamp(45px, 9vw, 85px);
    text-shadow: 0 0 30px var(--roxo);
}

h1 span {
    color: var(--roxo);
}

.descricao {
    color: #cccccc;
    font-size: 20px;
    margin: 25px 0;
}


/* ================= BOTÕES ================= */

.botao {
    border: none;
    padding: 17px 28px;
    border-radius: 9px;

    background:
        linear-gradient(
            90deg,
            var(--roxo-escuro),
            var(--roxo)
        );

    color: white;
    font-weight: 900;
    cursor: pointer;

    box-shadow:
        0 0 25px #8100ff66;

    transition: .2s;
}

.botao:hover {
    transform: translateY(-3px);
    box-shadow:
        0 0 35px #a000ff99;
}

.largura {
    width: 100%;
    margin-top: 30px;
}


/* ================= PÁGINAS ================= */

.pagina {
    max-width: 1050px;
    margin: auto;
    padding: 35px 20px 70px;
}

.formulario-pagina {
    max-width: 650px;
}

.voltar {
    border: none;
    background: transparent;
    color: #c68aff;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 15px;
}

h2 {
    text-align: center;
    color: #bf60ff;
    text-shadow: 0 0 15px #7100c9;
    margin: 20px 0 35px;
    font-size: 34px;
}


/* ================= CARDS ================= */

.cards {
    display: grid;
    grid-template-columns:
        repeat(3, 1fr);

    gap: 20px;
}

.card {
    background: var(--card);
    border: 1px solid #7600c9;
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
}

.card:hover {
    box-shadow:
        0 0 25px #7200aa55;
}

.icone {
    color: var(--roxo);
    font-size: 42px;
    font-weight: bold;
}

.card h3 {
    margin: 15px 0 8px;
}

.card p {
    color: var(--cinza);
    line-height: 1.5;
}

.titulo-vagas {
    margin-top: 65px;
}


/* ================= FUNÇÕES ================= */

.funcoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.funcao {
    width: 180px;
    padding: 23px;
    text-align: center;

    background: var(--card);
    border: 1px solid #8200dc;
    border-radius: 12px;

    font-size: 32px;
}

.funcao span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}


/* ================= FORMULÁRIO ================= */

.texto-central {
    text-align: center;
    color: var(--cinza);
    margin-bottom: 25px;
}

form {
    background: var(--card);
    border: 1px solid #6500a8;
    border-radius: 15px;
    padding: 25px;
}

label {
    display: block;
    margin: 17px 0 7px;
    color: #d19cff;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 14px;

    background: #050008;
    color: white;

    border: 1px solid #4d007a;
    border-radius: 8px;

    outline: none;
}

input:focus,
select:focus {
    border-color: var(--roxo);
    box-shadow: 0 0 10px #7800aa;
}

.horario {
    margin-top: 20px;
    padding: 17px;

    text-align: center;

    background: #210033;
    border: 1px solid var(--roxo);

    border-radius: 9px;
}

.horario strong {
    display: block;
    color: #d79aff;
    font-size: 30px;
}

.horario small {
    color: #999;
}


/* ================= BARRA ================= */

.barra {
    height: 70px;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #0b0410;
    border-bottom: 1px solid #6500a8;
}

.barra strong {
    display: block;
}

.barra small {
    display: block;
    color: #999;
    margin-top: 4px;
}

.barra button {
    background: #1c0b25;
    color: white;
    border: 1px solid #6900a9;
    border-radius: 7px;
    padding: 8px 14px;
}


/* ================= ÁREA ================= */

.area {
    max-width: 950px;
    margin: auto;
    padding: 25px 18px;
}

.status {
    background: var(--card);
    border: 1px solid #6900a9;
    border-radius: 12px;
    padding: 18px;
    margin-bottom: 18px;
}

.status p {
    color: #aaa;
    margin-top: 8px;
}

.bolinha {
    display: inline-block;

    width: 9px;
    height: 9px;

    border-radius: 50%;

    background: var(--roxo);

    box-shadow:
        0 0 10px var(--roxo);
}


/* ================= CHAT ================= */

.chat {
    background: var(--card);
    border: 1px solid #62009d;
    border-radius: 14px;
    overflow: hidden;
}

.chat-topo {
    padding: 16px;
    background: #15091c;
    border-bottom: 1px solid #4d0079;
}

.chat-topo span {
    float: right;
    color: var(--roxo);
    font-size: 12px;
}

.mensagens {
    height: 430px;
    overflow-y: auto;
    padding: 18px;
}

.mensagem {
    max-width: 78%;
    padding: 11px 13px;
    border-radius: 12px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.bot-msg {
    background: #251030;
    border: 1px solid #57007f;
}

.usuario-msg {
    background: #6d00d9;
    margin-left: auto;
}

.adm-msg {
    background: #3b1150;
}

.mensagem small {
    display: block;
    color: #aaa;
    font-size: 10px;
    margin-top: 5px;
}

.chat-form {
    display: flex;
    gap: 8px;

    padding: 10px;

    border: none;
    border-top: 1px solid #4d0079;

    border-radius: 0;
}

.chat-form input {
    flex: 1;
}

.chat-form button {
    width: 50px;
    border: none;
    border-radius: 8px;

    background: var(--roxo);
    color: white;

    cursor: pointer;
}


/* ================= ADM ================= */

.painel {
    max-width: 1100px;
    margin: auto;
    padding: 25px 18px;

    display: grid;
    grid-template-columns: 350px 1fr;

    gap: 18px;
}

.lista {
    background: var(--card);
    border: 1px solid #62009d;
    border-radius: 14px;
    padding: 15px;
}

.lista h2 {
    font-size: 24px;
}

.candidato {
    padding: 14px;
    margin-bottom: 9px;

    border: 1px solid #3d1752;
    border-radius: 10px;

    cursor: pointer;
}

.candidato:hover {
    border-color: var(--roxo);
}

.candidato small {
    color: #999;
    line-height: 1.6;
}

.candidato.selecionado {
    background: #24102f;
    border-color: var(--roxo);
}

.escondido {
    display: none;
}


/* ================= CELULAR ================= */

@media (max-width: 750px) {

    .cards {
        grid-template-columns: 1fr;
    }

    .painel {
        grid-template-columns: 1fr;
    }

    .lista {
        max-height: 300px;
        overflow-y: auto;
    }

    .mensagens {
        height: 360px;
    }

    .logo {
        font-size: 34px;
    }

    .subtitulo {
        letter-spacing: 2px;
    }

    .funcao {
        width: 140px;
    }

}